:root {
  --reach-accordion: 1;
}

[data-reach-accordion-panel] {
  outline: none;
}

[data-reach-accordion-trigger] {
  text-align: inherit;
  font: inherit;
}

[data-reach-accordion-trigger][data-disabled] {
  cursor: not-allowed;
}
