html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color: #242424;
  text-rendering: optimizeLegibility;
}

.App {
  padding: 1rem;
}

.CurrentState {
  margin: 1rem 0;
}

.CurrentState h3 {
  margin: 0;
  padding: 0;
}

.CurrentState pre {
  background: #f6f8fa;
  border: 1px solid #e2e2e2;
  font-size: 0.75rem;
  padding: 0.5rem;
}

pre,
code {
  font-family: "Menlo", monospace;
}

hr {
  padding: 0;
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: #8c8c8c;
}
