.DS_Store
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/NOTES.md

# runtime data
pids
*.pid
*.seed
*.pid.lock


# generated doc files
/doc.json

# bundled files
/packages/*/dist
/packages/*/errors

# editor specific
.vscode
.editorconfig

# website
/website-deploy-key
/website-deploy-key.pub
/website/public/

# other
node_modules
.cache
.env
package-lock.json
.pnp/
.pnp.js
.yarn-integrity
/errors
