:root {
  --reach-checkbox: 1;
}

[data-reach-checkbox-input-wrapper] {
  display: inline-block;
  position: relative;
  margin-right: 0.75ex;
  cursor: default;
  width: 14px;
  height: 14px;
}

[data-reach-checkbox-input-wrapper]::before,
[data-reach-checkbox-input-wrapper]::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: "";
}

[data-reach-checkbox-input-wrapper]::before {
  width: 14px;
  height: 14px;
  border: 1px solid #b8b8b8;
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, #edeced, #fff 30%);
}

[data-reach-checkbox-input-wrapper][data-focus]::before {
  box-shadow: 0 0 0 2px #3f94bf;
}

[data-reach-checkbox-input-wrapper][data-mixed]::before,
[data-reach-checkbox-input-wrapper][data-checked]::before {
  border-color: #1159a6;
  background: #3f94bf;
  background-image: linear-gradient(to bottom, #3f94bf, #007bff);
}

[data-reach-checkbox-input-wrapper][data-checked]::after {
  display: block;
  width: 0.25em;
  height: 0.4em;
  border: medium solid #fff;
  border-width: 0 0.125em 0.125em 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

[data-reach-checkbox-input-wrapper][data-mixed]::after {
  display: block;
  width: 0;
  border-bottom: 0.125em solid #fff;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center center;
}

[data-reach-checkbox-input-hidden] {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  z-index: 1 !important;
  cursor: inherit;
}
