:root {
  --reach-checkbox: 1;
}

[data-reach-custom-checkbox-container] {
  display: inline-block;
  position: relative;
  margin-right: 0.75ex;
  cursor: default;
  width: 0.875rem;
  height: 0.875rem;
}

[data-reach-custom-checkbox-container]:focus-within,
[data-reach-custom-checkbox-container][data-focus] {
  box-shadow: 0 0 4px 1px Highlight;
  outline: -webkit-focus-ring-color auto 4px;
}

[data-reach-custom-checkbox-input] {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  z-index: 1 !important;
  cursor: inherit;
  box-shadow: none !important;
  outline: none !important;
}
