/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-menu-button: 1;
}

[data-reach-menu-popover] {
  font-family: sans-serif;
  display: block;
  position: absolute;
}

[data-reach-menu-list],
[data-reach-menu] {
  white-space: nowrap;
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  outline: none;
  padding: 0.5rem 0;
  font-size: 85%;
  user-select: none;
  visibility: visible;
  opacity: 1;
}

[data-reach-menu][data-closed] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 150ms, opacity 150ms ease;
}

[data-reach-menu-item] {
  display: block;
}

/*
 The dom structure of a MenuLink is reach-menu-item > a,
 so to target all items we can use `data-reach-menu-item`
*/
[data-reach-menu-item] {
  /*
    These are styled in one rule instead of something like a[data-reach-menu-item]
    and li[data-reach-menu-item] so that apps don't have to fight specificity and
    can style both li and a menu items with one rule,
    ie: `[data-selected] { background: red; }`.
    Otherwise they'd have to define two styles, one for a and one for li.
  */

  /* reach-menu-item */
  cursor: pointer;

  /* a */
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;

  /* both */
  padding: 5px 20px;
}

@keyframes flash {
  0% {
    background: rgb(83, 147, 248);
    color: white;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    background: inherit;
    color: inherit;
  }
  100% {
    background: rgb(83, 147, 248);
    color: white;
    opacity: 1;
  }
}

[data-reach-menu-item][data-selected] {
  background: rgb(79, 144, 248);
  color: white;
}

[data-reach-menu-item][data-selected][data-confirming] {
  animation: flash 100ms;
  animation-iteration-count: 1;
}
