:root {
  --reach-skip-nav: 1;
}

[data-reach-skip-nav-link] {
  position: fixed;
  top: -100%;
}

[data-reach-skip-nav-link]:focus {
  padding: 1rem;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1;
  width: auto;
  height: auto;
}
