:root {
  --reach-disclosure: 1;
}

[data-reach-disclosure] {
  border: 1px solid #c5c5c5;
}

[data-reach-disclosure-panel] {
  padding: 0.5em;
  margin: 0;
  border: 1px solid #aaa;
  border-top: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

[data-reach-disclosure-trigger] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #aaa;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  cursor: unset;
  font-weight: bold;
  user-select: auto;
}

[data-reach-disclosure-trigger]:hover {
  text-decoration: underline;
}

[data-reach-disclosure-trigger]::before {
  content: "►";
  font-size: 0.7em;
  display: inline-block;
  margin-right: 0.7em;
  transform-origin: center;
}

[data-reach-disclosure-trigger][data-open]::before {
  transform: rotate(90deg);
}
