/*
Name:       Base16 Summerfruit Light
Author:     Christopher Corley (http://cscorley.github.io/)
Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre > code {
  display: block;
}

  pre, code[class*="language-"] {
    font-size: 14px;
  }

@media (max-width: 550px) {
  pre, code[class*="language-"] {
    font-size: 12px;
  }
}

code[class*="language-"] {
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding-left: 20px;
  border-left: solid 5px #eee;
  background: #fff;
  color: #303030;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #e0e0e0;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #e0e0e0;
} /* Code blocks */
pre[class*="language-"] {
} /* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b0b0b0;
}
.token.punctuation {
  color: #303030;
}
.token.namespace {
  opacity: 0.7;
}
.token.operator,
.token.boolean,
.token.number {
  color: #fd8900;
}
.token.property {
  color: #aba800;
}
.token.tag {
  color: #3777e6;
}
.token.string {
  color: #1faaaa;
}
.token.selector {
  color: #ad00a1;
}
.token.attr-name {
  color: #fd8900;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #1faaaa;
}
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #30af40;
}
.token.statement,
.token.regex,
.token.atrule {
  color: #1faaaa;
}
.token.placeholder,
.token.variable {
  color: #3777e6;
}
.token.deleted {
  text-decoration: line-through;
}
.token.inserted {
  border-bottom: 1px dotted #151515;
  text-decoration: none;
}
.token.italic {
  font-style: italic;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.important {
  color: #ff0086;
}
.token.entity {
  cursor: help;
}
pre > code.highlight {
  outline: 0.4em solid #ff0086;
  outline-offset: 0.4em;
}
.line-numbers .line-numbers-rows {
  border-right-color: #e0e0e0 !important;
}
.line-numbers-rows > span:before {
  color: #d0d0d0 !important;
}
.line-highlight {
  background: rgba(21, 21, 21, 0.2) !important;
  background: -webkit-linear-gradient(
    left,
    rgba(21, 21, 21, 0.2) 70%,
    rgba(21, 21, 21, 0)
  ) !important;
  background: linear-gradient(
    to right,
    rgba(21, 21, 21, 0.2) 70%,
    rgba(21, 21, 21, 0)
  ) !important;
}
