:root {
  --reach-listbox: 1;
}

[data-reach-listbox-popover] {
  font-family: sans-serif;
  display: block;
  position: absolute;
  background: hsl(0, 0%, 100%);
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  min-width: -moz-fit-content;
  min-width: -webkit-min-content;
  min-width: min-content;
}

[data-reach-listbox-list] {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: none;
  padding: 0.25rem 0;
  font-size: 85%;
  user-select: none;
  visibility: visible;
  opacity: 1;
}

[data-reach-listbox-option] {
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;
  padding: 0.25rem 0.5rem;
}

[data-reach-listbox-option][data-highlighted] {
  background: hsl(211, 81%, 46%);
  color: hsl(0, 0%, 100%);
}

[data-reach-listbox-option][aria-selected="true"] {
  font-weight: bolder;
}

[data-reach-listbox-option][aria-selected="true"][data-confirming] {
  animation: flash 100ms;
  animation-iteration-count: 1;
}

@keyframes flash {
  0% {
    background: hsla(211, 81%, 36%, 1);
    color: hsl(0, 0%, 100%);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    background: inherit;
    color: inherit;
  }
  100% {
    background: hsla(211, 81%, 36%, 1);
    color: hsl(0, 0%, 100%);
    opacity: 1;
  }
}
