@import "../styles/root.scss";

.Note {
  background: $color-primary-xlight;
  display: block;
  padding: 2rem;
  margin: 1rem 1rem 2.5rem;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
