$ff-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$ff-mono: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
  "Liberation Mono", Menlo, Courier, monospace;
$color-error: #bf4a3f;
$color-primary: #1159a6;
$color-primary-bright: #007bff;
$color-primary-light: #3f94bf;
$color-body: #222;
$color-body-background: #fafafa;
$color-focus-outline: #1eaedb;
$color-input-background: #fff;
$color-input-border: #d1d1d1;
$color-rule-border: #e1e1e1;
$color-table-cell-border: #eee;
